body{
  font-family: Century Gothic
  }
    .image-resize {
    height: 300px;
  }
  
header{
  background-color: #358597;
}
ul{
  float: right;
}
ul li{
  display: inline-block;
}
ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.5s ease;
  }
ul li a:hover{
  backgorund-color: #fff;
  color: #000;
  }
      #image {
    max-width: 200px;
      max-height: 300px; 
  }
 }
      #image2 {
    max-width: 200px;
      max-height: 300px; 
  }
#img-div{
      text-align: center;
    }
p{
  color: #f4a896;
}
h1{
  color: #FAF0E6;
}
p2{
  margin-bottom: 25px;
}
